<template>
  <div class="media box">
    <div class="media-left">
      <p class="image is-64x64">
        <img :src="user.avatar_url" />
      </p>
    </div>
    <div class="media-content">
      <p><strong>Name:</strong> {{ user.name || "n/a" }}</p>
      <p><strong>Company:</strong> {{ user.company || "n/a" }}</p>
      <p><strong>Location:</strong> {{ user.location || "n/a" }}</p>
      <p><strong>Followers:</strong> {{ user.followers || "n/a" }}</p>
      <p><strong>Following:</strong> {{ user.following || "n/a" }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserInfo",
  props: {
    user: Object
  }
};
</script>
