<template>
  <div>
    <h4 class="title is-4">Repositories</h4>
    <div class="box" v-for="repo in repos" :key="repo.id">
      <p>
        <strong
          ><a :href="repo.html_url" target="_blank">{{ repo.name }}</a></strong
        >
        <span v-if="repo.fork">&nbsp;(fork)</span>
      </p>
      <p>{{ repo.description }}</p>
      <p>
        Forks: {{ repo.forks }} | Open issues: {{ repo.open_issues }} |
        Watchers: {{ repo.watchers }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserRepos",
  props: {
    repos: Array
  }
};
</script>
