<template>
  <div>
    <h4 class="title is-4">Recent Activity</h4>
    <div class="box" v-for="event in events" :key="event.id">
      <p><strong>Time:</strong> {{ event.created_at }}</p>
      <p><strong>Type:</strong> {{ eventName(event.type) }}</p>
      <p><strong>Repository:</strong> {{ event.repo.name }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserEvents",
  props: {
    events: Array
  },
  methods: {
    eventName: function(eventType) {
      const nameWithoutEventSuffix = eventType.replace(/Event$/g, "");
      const nameWithSpaces = nameWithoutEventSuffix.replace(/([A-Z])/g, " $1");
      return nameWithSpaces;
    }
  }
};
</script>
