<template>
  <section class="section">
    <div class="container">
      <h1 class="title">User: {{ login }}</h1>
      <UserInfo :user="user" v-if="user" />
      <div class="columns">
        <div class="column">
          <UserRepos :repos="repos" v-if="repos" />
        </div>
        <div class="column">
          <UserEvents :events="events" v-if="events" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Api from "@/api.js";
import UserInfo from "./UserInfo";
import UserRepos from "./UserRepos";
import UserEvents from "./UserEvents";

export default {
  name: "UserContainer",
  props: {
    login: String
  },
  components: {
    UserInfo,
    UserRepos,
    UserEvents
  },
  data: () => ({
    user: null,
    events: null,
    repos: null
  }),
  mounted: function() {
    this.load(this.login);
  },
  watch: {
    login: function(newLogin) {
      this.load(newLogin);
    }
  },
  methods: {
    load: function(login) {
      this.user = null;
      this.repos = null;
      this.events = null;
      Api.user(login).then(user => {
        this.user = user;
      });
      Api.repos(login).then(repos => {
        this.repos = repos;
      });
      Api.events(login).then(events => {
        this.events = events;
      });
    }
  }
};
</script>
