<template>
  <div class="box">
    <label class="label">Search Github Users</label>
    <b-field>
      <b-input
        v-model="currentQuery"
        @keyup.native.enter="onSearchSubmit"
        class="is-expanded"
        placeholder="Search..."
      ></b-input>

      <p class="control">
        <b-button @click="onSearchSubmit" class="is-primary">Search</b-button>
      </p>
    </b-field>
  </div>
</template>

<script>
export default {
  name: "Search",
  props: {
    query: String
  },
  data: function() {
    return {
      currentQuery: this.query
    };
  },
  watch: {
    query: function(newQuery) {
      this.currentQuery = newQuery;
    }
  },
  methods: {
    onSearchSubmit: async function() {
      this.$emit("search", this.currentQuery);
    }
  }
};
</script>
