<template>
  <div class="container">
    <div class="media box" v-for="user in users" v-bind:key="user.login">
      <div class="media-left">
        <p class="image is-64x64">
          <img :src="user.avatar_url" />
        </p>
      </div>
      <div class="media-content">
        <p>
          <strong>{{ user.login }}</strong
          ><br />
          <small>{{ user.type }}</small
          ><br />
          <a :href="githubUrl(user.login)" target="_blank">{{
            githubUrl(user.login)
          }}</a>
        </p>
      </div>
      <div class="media-right">
        <b-button @click="onUserSelected(user.login)">View Details</b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchResults",
  props: {
    users: Array
  },
  methods: {
    githubUrl: function(login) {
      return `https://github.com/${login}`;
    },
    onUserSelected: function(login) {
      this.$emit("user-select", login);
    }
  }
};
</script>
