<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">Github User Search</h1>
        <h2 class="subtitle">Mable Therapy Tech Test</h2>
      </div>
    </section>

    <div class="container">
      <SearchBox :query="query" @search="onSearch"></SearchBox>
      <SearchResults
        :users="users"
        @user-select="onUserSelected"
      ></SearchResults>
    </div>
  </div>
</template>

<script>
import Api from "@/api.js";

import SearchBox from "./SearchBox.vue";
import SearchResults from "./SearchResults.vue";

export default {
  name: "Search",
  components: { SearchBox, SearchResults },
  props: {
    query: String
  },
  data: function() {
    return {
      users: []
    };
  },
  watch: {
    query: function(newQuery) {
      this.search(newQuery);
    }
  },
  mounted: function() {
    this.search(this.query);
  },
  methods: {
    search: async function(query) {
      this.users = [];
      if (!query) {
        return;
      }
      this.users = await Api.search(query);
    },
    onSearch: async function(query) {
      this.$router.push({ name: "search", params: { query } });
    },
    onUserSelected: function(login) {
      this.$router.push({ name: "user", params: { login } });
    }
  }
};
</script>
